@media screen and (min-width: 48em) {
    #social-menu-wrapper,
    #primary-search-wrapper {
        display: block;
    }

    .menu-toggle-wrapper {
        display: block;
        float: left;
        padding: 24px 7px;
    }

    #testimonial-content-section .post-thumbnail img {
        width: 140px;
        height: 140px;
    }

    .menu-toggle {
        padding: 7px 10px;
    }

    .menu-inside-wrapper {
        width: 350px;
        top: 100%;
        right: 0;
        opacity: 0;
    }

    #primary-search-wrapper .menu-inside-wrapper {
        top: 82%;
    }

    .is-open .menu-inside-wrapper {
        visibility: visible;
        opacity: 1;
    }

    .navigation-default .mobile-social-search {
        display: none;
    }

    .navigation-modern .mobile-social-search .search-container {
        display: none;
    }

    #hero-content-section .section-content-wrapper {
        padding-left: 55px;
        padding-right: 55px;
    }

    #feature-slider-section .entry-summary,
    #feature-slider-section .entry-content {
        display: block;
    }

    .custom-logo {
        margin: 0;
    }

    #contact-section .section-content-wrapper .entry-summary,
    #contact-section .section-content-wrapper .entry-content {
        margin: 35px 0 0;
    }

    .featured-video-content-wrapper .hentry,
    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .services-content-wrapper.layout-four .hentry,
    .stats-content-wrapper.layout-four .hentry,
    .team-content-wrapper.layout-four .hentry,
    .contact-details.layout-four > div,
    .featured-content-wrapper.layout-two .hentry,
    .services-content-wrapper.layout-two .hentry,
    .team-content-wrapper.layout-two .hentry,
    .portfolio-content-wrapper.layout-two .hentry,
    .contact-details.layout-two > div,
    .two-columns .hentry,
    #gallery-section .gallery-columns-2 .gallery-item,
    #gallery-section .gallery-columns-4 .gallery-item,
    #gallery-section .gallery-columns-5 .gallery-item,
    #gallery-section .gallery-columns-7 .gallery-item,
    #gallery-section .gallery-columns-8 .gallery-item {
        width: 50%;
    }

    .featured-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .services-content-wrapper.layout-three .hentry,
    .stats-content-wrapper.layout-three .hentry,
    .team-content-wrapper.layout-three .hentry,
    .three-columns .hentry,
    #gallery-section .gallery-columns-3 .gallery-item,
    #gallery-section .gallery-columns-6 .gallery-item,
    #gallery-section .gallery-columns-9 .gallery-item {
        width: 33.33%;
    }

    .archive-posts-wrapper .entry-container {
        padding: 0 60px;
    }

    .team-content-wrapper .view-more {
        top: 4%;
        right: 50px;
    }

    .section-content-wrapper.stats-content-wrapper .hentry-inner .sub-title {
        margin-right: 42px;
    }
}