.imgl-map-2 {
background-color:rgba(0,0,0,0);
}
.imgl-map-2 .imgl-pin-1 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-2 .imgl-pin-1 .imgl-ico-wrap {
}
.imgl-map-2 .imgl-pin-2 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-2 .imgl-pin-2 .imgl-ico-wrap {
}
.imgl-map-2 .imgl-pin-3 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-2 .imgl-pin-3 .imgl-ico-wrap {
}
.imgl-map-2 .imgl-pin-4 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-2 .imgl-pin-4 .imgl-ico-wrap {
}
.imgl-map-2 .imgl-pin-5 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-2 .imgl-pin-5 .imgl-ico-wrap {
}
