/*===================================================================================*/
/*	PAGE TITLE SECTION
/*===================================================================================*/

.header-overlapped, .page-title-section { background-color: #ce1b28; }
@media (max-width: 1100px) and (min-width: 100px){
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #ce1b28 !important;
}
.navbar-custom .dropdown-menu > .active > a, .navbar-custom .dropdown-menu > .active > a:hover, .navbar-custom .dropdown-menu > .active > a:focus {
   color: #ce1b28 !important;
 }
}