.imgl-map-1 {
}
.imgl-map-1 .imgl-pin-1 .imgl-pin-data {
background-color:#fb5302;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:3px;
border-style:solid;
border-color:#ffffff;
border-top-left-radius:100%;
border-top-right-radius:100%;
border-bottom-right-radius:100%;
border-bottom-left-radius:100%;
}
.imgl-map-1 .imgl-pin-1 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-2 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-2 .imgl-ico-wrap {
}
