/**
 * 14.6 - Events Section
 */

#events-section {
	background-size: cover;
}

#events-section.has-foreground-image .wrapper:before {
	background-size: contain;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 150px;
	width: 100%;
}

#events-section .more-link .readmore {
	background: transparent;
	color: inherit;
	padding: 0;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.0769230769230769em;
}

.events-content-wrapper .entry-header {
	margin: 0;
}

.events-content-wrapper .entry-meta {
	margin: 0 0 21px;
}

.events-content-wrapper .entry-meta a,
.events-content-wrapper .entry-meta a:hover,
.events-content-wrapper .entry-meta a:focus {
	text-decoration: none;
}

.events-content-wrapper .entry-meta {
	border: 2px solid;
	clear: both;
	display: inline-block;
	padding: 7px 17px;
	text-align: center;
}

.events-content-wrapper .entry-date > span {
	display: block;
}

.events-content-wrapper .date-week-day {
	font-weight: 300;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.333333333333333;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.events-content-wrapper .date-month {
	font-size: 36px;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.33333333333;
}